{% extends 'page/checkout/payment.html.twig' %}

{% block checkout_payment_errors %}
    {{ parent() }}

    {% set iPayError = oView.getPaymentError() %}
    {% if iPayError == -20 %}
        <div class="status error alert-danger">{{ oView.getPaymentErrorText() }}</div>
    {% endif %}

    {% for sUserFlagMessage in oView.fcpoGetUserFlagMessages() %}
        <div class="status info">{{ sUserFlagMessage }}</div>
    {% endfor %}
{% endblock %}

{% block change_payment %}
    <script type="text/javascript">
        let oFcPayOneData = [];
        oFcPayOneData.inputs =
            {
                fcpo_mid: '{{ oView.getMerchantId()|raw }}',
                fcpo_portalid: '{{ oView.getPortalId()|raw }}',
                fcpo_encoding: '{{ oView.getEncoding()|raw }}',
                fcpo_aid: '{{ oView.getSubAccountId()|raw }}',
                fcpo_amount: '{{ oView.getAmount()|raw }}',
                fcpo_currency: '{{ currency.name }}',
                fcpo_tpllang: '{{ oView.getTplLang()|raw }}',
                fcpo_bill_country: '{{ oView.fcGetBillCountry()|raw }}',
                dynvalue_fcpo_pseudocardpan: '',
                dynvalue_fcpo_ccmode: '',
                fcpo_checktype: '{{ oView.getChecktype()|raw }}',
                fcpo_hashelvWith: '{{ oView.getHashELVWithChecktype()|raw }}',
                fcpo_hashelvWithout: '{{ oView.getHashELVWithoutChecktype()|raw }}',
                fcpo_integratorid: '{{ oView.getIntegratorid()|raw }}',
                fcpo_integratorver: '{{ oView.getIntegratorver()|raw }}',
                fcpo_integratorextver: '{{ oView.getIntegratorextver()|raw }}'
            };
    </script>

    {{ style({ include: oViewConf.getModuleUrl("fcpayone", "css/fcPayOne.css") }) }}
    {{ parent() }}
{% endblock %}

{% block select_payment %}
    {% set aFcPoCCPaymentMetaData = oView.fcpoGetCCPaymentMetaData() %}
    {% set aFcPoOnlinePaymentMetaData = oView.fcpoGetOnlinePaymentMetaData() %}
    {% set dynvalue = oView.getDynValue() %}

    {% if oView.fcpoShowAsRegularPaymentSelection(sPaymentID) == false %}
        {# Don't show this payment in standard checkout => mostly express payments #}
    {% elseif sPaymentID == "fcpocreditcard" and oView.fcpoGetCreditcardType() == "ajax" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_creditcard_ajax.html.twig" %}
    {% elseif sPaymentID == "fcpocreditcard" and oView.fcpoGetCreditcardType() == "hosted" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_creditcard_hosted.html.twig" %}
    {% elseif sPaymentID == "fcpodebitnote" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_debitnote.html.twig" %}
    {% elseif sPaymentID == "fcpoklarna" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_klarna.html.twig" %}
    {% elseif sPaymentID == "fcpopo_bill" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_payolution_bill.html.twig" %}
    {% elseif sPaymentID == "fcpopo_debitnote" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_payolution_debitnote.html.twig" %}
    {% elseif sPaymentID == "fcpopo_installment" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_payolution_installment.html.twig" %}
    {% elseif sPaymentID == "fcporp_bill" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_ratepay_bill.html.twig" %}
    {% elseif sPaymentID == "fcporp_debitnote" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_ratepay_debitnote.html.twig" %}
    {% elseif sPaymentID == "fcporp_installment" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_ratepay_installment.html.twig" %}
    {% elseif sPaymentID == "fcpo_secinvoice" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_secinvoice.html.twig" %}
    {% elseif sPaymentID == "fcpopl_secinvoice" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_bnpl_secinvoice.html.twig" %}
    {% elseif sPaymentID == "fcpopl_secinstallment" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_bnpl_secinstallment.html.twig" %}
    {% elseif sPaymentID == "fcpopl_secdebitnote" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_bnpl_secdebitnote.html.twig" %}
    {% elseif sPaymentID == "fcpo_sofort" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_sofort.html.twig" %}
    {% elseif sPaymentID == "fcpo_trustly" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_trustly.html.twig" %}
    {% elseif sPaymentID == "fcpo_eps" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_eps.html.twig" %}
    {% elseif sPaymentID == "fcpo_ideal" %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_ideal.html.twig" %}
    {% elseif oView.fcpoIsKlarnaCombined(sPaymentID) %}
        {% if oView.fcpoShowKlarnaCombined(sPaymentID) %}
            {% include "@fcpayone/frontend/payment/fcpo_payment_klarna_combined.html.twig" %}
        {% endif %}
    {% elseif sPaymentID == "fcpo_apple_pay" %}
        {% if oView.fcpoAplGetDeviceCheck() and oView.fcpoAplCertificateCheck() %}
            {% include "@fcpayone/frontend/payment/fcpo_payment_default.html.twig" %}
        {% endif %}
    {% elseif oViewConf.fcpoIsPayonePayment(sPaymentID) %}
        {% include "@fcpayone/frontend/payment/fcpo_payment_default.html.twig" %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
