{% if oView.hasPaymentMethodAvailableSubTypes('cc') %}
    <div class="well well-sm">
        <dl id="fcpoCreditcard" style="display:none;">
            <dt>
                <input id="payment_{{ sPaymentID }}" type="radio" name="paymentid" value="{{ sPaymentID }}"
                       {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %}>
                <label for="payment_{{ sPaymentID }}"><b>{{ translate({ ident: paymentmethod.oxpayments__oxdesc.value }) }}
                        {{ oView.fcpoGetFormattedPaymentCosts(paymentmethod) }}</b></label>
            </dt>
            <dd class="{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% else %}payment-option{% endif %}">
                <input type="hidden" name="fcpo_cc_type" value="ajax">
                {% for oFcPoCCPaymentMetaData in aFcPoCCPaymentMetaData %}
            <input type="hidden" name="{{ oFcPoCCPaymentMetaData.sHashName }}"
                   value="{{ oFcPoCCPaymentMetaData.sHashValue }}">
            <input type="hidden" name="{{ oFcPoCCPaymentMetaData.sOperationModeName }}"
                   value="{{ oFcPoCCPaymentMetaData.sOperationModeValue }}">
                {% endfor %}
                <input type="hidden" name="fcpo_mode_{{ sPaymentID }}"
                       value="{{ paymentmethod.fcpoGetOperationMode() }}">
                <div class="form-group fcpo_entry_error" id="fcpo_cc_error">
                    <div class="col-lg-9">
                        <span class="help-block">
                            <ul role="alert" class="list-unstyled text-danger">
                                <li>{{ translate({ ident: "FCPO_ERROR" }) }}<div id="fcpo_cc_error_content"></div></li>
                            </ul>
                        </span>
                    </div>
                </div>
                <div class="form-group fcpo_kktype">
                    <label class="req control-label col-lg-3">{{ translate({ ident: "FCPO_CREDITCARD" }) }}:</label>
                    <div class="col-lg-9">
                        <select name="dynvalue[fcpo_kktype]"
                                {% if oView.getMaestroUK() %}onchange="fcCheckType(this); return false;" {% endif %}
                                class="form-control" required="required">
                            {% for oFcPoCCPaymentMetaData in aFcPoCCPaymentMetaData %}
                            <option value="{{ oFcPoCCPaymentMetaData.sPaymentTag }}"
                                    {% if oFcPoCCPaymentMetaData.blSelected %}selected{% endif %}>
                                {{ oFcPoCCPaymentMetaData.sPaymentName }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group fcpo_kknumber">
                    <label class="req control-label col-lg-3">{{ translate({ ident: "FCPO_NUMBER" }) }}:</label>
                    <div class="col-lg-9">
                        <input placeholder="{{ translate({ ident: "FCPO_NUMBER" }) }}" autocomplete="off" type="text"
                               class="form-control js-oxValidate js-oxValidate_notEmpty payment_text" size="20"
                               maxlength="64" name="dynvalue[fcpo_kknumber]" value="{{ dynvalue.fcpo_kknumber }}"
                               required="required">
                        <div id="fcpo_cc_number_invalid" class="fcpo_check_error">
                            <span class="help-block">
                                <ul role="alert" class="list-unstyled text-danger">
                                    <li>{{ translate({ ident: "FCPO_CC_NUMBER_INVALID" }) }}</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group fcpo_kkname">
                    <label for="fcpo_cc_cardholder" id="fcpo_cc_cardholder_label"
                           class="req control-label col-lg-3">{{ translate({ ident: "FCPO_CC_CARDHOLDER" }) }}:</label>
                    <div class="col-lg-9">
                        <input autocomplete="off" type="text"
                               class="form-control"
                               size="20" maxlength="50" id="fcpo_cc_cardholder" name="dynvalue[fcpo_kkcardholder]"
                               value="{{ dynvalue.fcpo_kkcardholder }}"
                               onkeyup="fcpoValidateCardholder()"
                        >
                        <span class="help-block form-group">{{ translate({ ident: "FCPO_CC_CARDHOLDER_HELPTEXT" }) }}</span>
                        <div id="fcpo_cc_cardholder_invalid" class="fcpo_check_error">
                            <span class="help-block">
                                <ul role="alert" class="list-unstyled text-danger">
                                    <li>{{ translate({ ident: "FCPO_CC_CARDHOLDER_INVALID" }) }}</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group fcpo_kkexpire">
                    <label class="req control-label col-xs-12 col-lg-3">{{ translate({ ident: "FCPO_VALID_UNTIL" }) }}:</label>
                    <div class="col-xs-6 col-lg-2">
                        <select name="dynvalue[fcpo_kkmonth]" class="form-control" required="required">
                            <option {% if dynvalue.fcpo_kkmonth == "01" %}selected{% endif %}>01</option>
                            <option {% if dynvalue.fcpo_kkmonth == "02" %}selected{% endif %}>02</option>
                            <option {% if dynvalue.fcpo_kkmonth == "03" %}selected{% endif %}>03</option>
                            <option {% if dynvalue.fcpo_kkmonth == "04" %}selected{% endif %}>04</option>
                            <option {% if dynvalue.fcpo_kkmonth == "05" %}selected{% endif %}>05</option>
                            <option {% if dynvalue.fcpo_kkmonth == "06" %}selected{% endif %}>06</option>
                            <option {% if dynvalue.fcpo_kkmonth == "07" %}selected{% endif %}>07</option>
                            <option {% if dynvalue.fcpo_kkmonth == "08" %}selected{% endif %}>08</option>
                            <option {% if dynvalue.fcpo_kkmonth == "09" %}selected{% endif %}>09</option>
                            <option {% if dynvalue.fcpo_kkmonth == "10" %}selected{% endif %}>10</option>
                            <option {% if dynvalue.fcpo_kkmonth == "11" %}selected{% endif %}>11</option>
                            <option {% if dynvalue.fcpo_kkmonth == "12" %}selected{% endif %}>12</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-lg-2">
                        <select name="dynvalue[fcpo_kkyear]" class="form-control">
                            {% for year in oView.getCreditYears() %}
                            <option {% if dynvalue.fcpo_kkyear == year %}selected{% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3"></div>
                    <div class="col-lg-9">
                        <div id="fcpo_cc_date_invalid" class="fcpo_check_error">
                            <span class="help-block">
                                <ul role="alert" class="list-unstyled text-danger">
                                    <li>{{ translate({ ident: "FCPO_CC_DATE_INVALID" }) }}</li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group fcpo_kkpruef">
                    <label class="req control-label col-lg-3">{{ translate({ ident: "FCPO_CARD_SECURITY_CODE" }) }}:</label>
                    <div class="col-lg-9">
                        <input placeholder="{{ translate({ ident: "FCPO_CARD_SECURITY_CODE" }) }}" autocomplete="off"
                               type="text" class="form-control js-oxValidate js-oxValidate_notEmpty payment_text"
                               size="20" maxlength="64" name="dynvalue[fcpo_kkpruef]" value="{{ dynvalue.fcpo_kkpruef }}"
                               required="required">
                        <div id="fcpo_cc_cvc2_invalid" class="fcpo_check_error">
                            <span class="help-block">
                                <ul role="alert" class="list-unstyled text-danger">
                                    <li>{{ translate({ ident: "FCPO_CC_CVC2_INVALID" }) }}</li>
                                </ul>
                            </span>
                        </div>
                        <span class="help-block">{{ translate({ ident: "FCPO_CARD_SECURITY_CODE_DESCRIPTION" }) }}</span>
                    </div>
                </div>
                {% if oView.getMaestroUK() %}
                <div class="form-group" id="fcpo_kkcsn_row" style="display: none;">
                    <label class="req control-label col-lg-3">{{ translate({ ident: "FCPO_CARDSEQUENCENUMBER" }) }}:</label>
                    <div class="col-lg-9">
                        <input placeholder="{{ translate({ ident: "FCPO_CARDSEQUENCENUMBER" }) }}" autocomplete="off"
                               type="text" class="payment_text" size="20" maxlength="64" name="dynvalue[fcpo_kkcsn]"
                               value="{{ dynvalue.fcpo_kkcsn }}">
                    </div>
                </div>
                {% endif %}
                <div class="clearfix"></div>
                {% block checkout_payment_longdesc %}
                {% if paymentmethod.oxpayments__oxlongdesc.value %}
                <div class="alert alert-info col-lg-offset-3 desc">
                    {{ paymentmethod.oxpayments__oxlongdesc.getRawValue() }}
                </div>
                {% endif %}
                {% endblock %}
            </dd>
        </dl>
    </div>
    {% endif %}
