{% set sFcPoTemplatePath = oViewConf.fcpoGetActiveThemePath() %}
{% set sFcPoTemplatePath = sFcPoTemplatePath|cat('/fcpo_nosalutation_address.html.twig') %}

<div id="orderAddress" class="row">
    <div class="col-12 col-md-6">
        <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
            <div class="hidden">
                {{ oViewConf.getHiddenSid() }}
                <input type="hidden" name="cl" value="{{ oView.fcpoGetEditAddressTargetController() }}">
                <input type="hidden" name="fnc" value="{{ oView.fcpoGetEditAddressTargetAction() }}">
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ translate({ ident: "BILLING_ADDRESS" }) }}
                        <button type="submit" class="btn btn-sm btn-warning float-right submitButton Button edit-button"
                                title="{{ translate({ ident: "EDIT" }) }}">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </h3>
                </div>
                <div class="card-body">
                    {% include $oViewConf->fcpoGetAbsModuleTemplateFrontendPath($sFcPoTemplatePath) %}
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-6">
        <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
            <div class="hidden">
                {{ oViewConf.getHiddenSid() }}
                <input type="hidden" name="cl" value="{{ oView.fcpoGetEditAddressTargetController() }}">
                <input type="hidden" name="fnc" value="{{ oView.fcpoGetEditAddressTargetAction() }}">
            </div>

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ translate({ ident: "SHIPPING_ADDRESS" }) }}
                        <button type="submit" class="btn btn-sm btn-warning float-right submitButton Button edit-button"
                                title="{{ translate({ ident: "EDIT" }) }}">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </h3>
                </div>
                <div class="card-body">
                    {% set oDelAdress = oView.getDelAddress() %}
                    {% include $oViewConf->fcpoGetAbsModuleTemplateFrontendPath($sFcPoTemplatePath) with {delivadr: oDelAdress} %}
                </div>
            </div>
        </form>
    </div>
</div>
