<div class="payment-option">
    {% set dynvalue = oView.getDynValue() %}
    <div class="payment-option-form">
        <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid"
               value="{{ sPaymentID }}"{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} checked{% endif %}>
        <label
                for="payment_{{ sPaymentID }}">{{ translate({ ident: paymentmethod.oxpayments__oxdesc.value }) }}</label>

        <div class="payment-option-info{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
            <input type="hidden" name="fcpo_mode_{{ sPaymentID }}" value="{{ paymentmethod.fcpoGetOperationMode() }}">

            <div class="form-floating mb-3">
                <select name="dynvalue[fcpo_so_bankgrouptype_idl]" class="form-control selectpicker">
                    <option value='ABNANL2A' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'ABNANL2A' %}selected{% endif %}>ABN AMRO</option>
                    <option value='ASNBNL21' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'ASNBNL21' %}selected{% endif %}>ASN Bank</option>
                    <option value='BUNQNL2A' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'BUNQNL2A' %}selected{% endif %}>bunq</option>
                    <option value='INGBNL2A' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'INGBNL2A' %}selected{% endif %}>ING</option>
                    <option value='KNABNL2H' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'KNABNL2H' %}selected{% endif %}>Knab</option>
                    <option value='NTSBDEB1' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'NTSBDEB1' %}selected{% endif %}>N26</option>
                    <option value='NNBANL2G' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'NNBANL2G' %}selected{% endif %}>Nationale-Nederlanden</option>
                    <option value='RABONL2U' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'RABONL2U' %}selected{% endif %}>Rabobank</option>
                    <option value='RBRBNL21' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'RBRBNL21' %}selected{% endif %}>RegioBank</option>
                    <option value='REVOLT21' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'REVOLT21' %}selected{% endif %}>Revolut</option>
                    <option value='SNSBNL2A' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'SNSBNL2A' %}selected{% endif %}>SNS</option>
                    <option value='TRIONL2U' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'TRIONL2U' %}selected{% endif %}>Triodos Bank</option>
                    <option value='FVLBNL22' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'FVLBNL22' %}selected{% endif %}>Van Lanschot Kempen</option>
                    <option value='BITSNL2A' {% if dynvalue.fcpo_so_bankgrouptype_idl == 'BITSNL2A' %}selected{% endif %}>Yoursafe</option>
                </select>

                <label>{{ translate({ ident: "FCPO_BANKGROUPTYPE" }) }}</label>
            </div>

            <div class="clearfix"></div>

            {% block checkout_payment_longdesc %}
                {% if paymentmethod.oxpayments__oxlongdesc.value|striptags|trim %}
                    <div class="alert alert-info desc">
                        {{ paymentmethod.oxpayments__oxlongdesc.value }}
                    </div>
                {% endif %}
            {% endblock %}

        </div>
    </div>
    {% if paymentmethod.getPrice() %}
        <div class="payment-option-price">
            {% set oPaymentPrice = paymentmethod.getPrice() %}
            {% if oViewConf.isFunctionalityEnabled('blShowVATForPayCharge') %}
                {{ format_price(oPaymentPrice.getNettoPrice(), { currency: currency }) }}
                {% if oPaymentPrice.getVatValue() > 0 %}
                    {{ translate({ ident: "PLUS_VAT" }) }} {{ format_price(oPaymentPrice.getVatValue(), { currency: currency }) }}
                {% endif %}
            {% else %}
                {{ format_price(oPaymentPrice.getBruttoPrice(), { currency: currency }) }}
            {% endif %}
        </div>
    {% endif %}
</div>
