<div class="payment-option">
    {% set dynvalue = oView.getDynValue() %}
    <div class="payment-option-form">
        <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid"
               value="{{ sPaymentID }}"{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} checked{% endif %}>
        <label
                for="payment_{{ sPaymentID }}">{{ translate({ ident: paymentmethod.oxpayments__oxdesc.value }) }}</label>

        <div class="payment-option-info{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
            <input type="hidden" name="fcpo_mode_{{ sPaymentID }}" value="{{ paymentmethod.fcpoGetOperationMode() }}">

            <div class="form-floating mb-3">
                <select name="dynvalue[fcpo_so_bankgrouptype_eps]" class="form-control selectpicker">
                    <option value="ARZ_OVB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_OVB" %}selected{% endif %}>
                        Volksbanken
                    </option>
                    <option value="ARZ_BAF" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_BAF" %}selected{% endif %}>
                        Bank f&uuml;r &Auml;rzte und Freie Berufe
                    </option>
                    <option value="ARZ_NLH" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_NLH" %}selected{% endif %}>
                        Nieder&ouml;sterreichische Landes-Hypo
                    </option>
                    <option value="ARZ_VLH" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_VLH" %}selected{% endif %}>
                        Vorarlberger Landes-Hypo
                    </option>
                    <option value="ARZ_BCS" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_BCS" %}selected{% endif %}>
                        Bankhaus Carl Sp&auml;ngler & Co. AG
                    </option>
                    <option value="ARZ_HTB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_HTB" %}selected{% endif %}>
                        Hypo Tirol
                    </option>
                    <option value="ARZ_HAA" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_HAA" %}selected{% endif %}>
                        Hypo Alpe Adria
                    </option>
                    <option value="ARZ_IKB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_IKB" %}selected{% endif %}>
                        Investkreditbank
                    </option>
                    <option value="ARZ_OAB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_OAB" %}selected{% endif %}>
                        &Ouml;sterreichische Apothekerbank
                    </option>
                    <option value="ARZ_IMB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_IMB" %}selected{% endif %}>
                        Immobank
                    </option>
                    <option value="ARZ_GRB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_GRB" %}selected{% endif %}>
                        G&auml;rtnerbank
                    </option>
                    <option value="ARZ_HIB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "ARZ_HIB" %}selected{% endif %}>
                        HYPO Investment
                    </option>
                    <option value="BA_AUS" {% if dynvalue.fcpo_so_bankgrouptype_eps == "BA_AUS" %}selected{% endif %}>
                        Bank Austria
                    </option>
                    <option value="BAWAG_BWG" {% if dynvalue.fcpo_so_bankgrouptype_eps == "BAWAG_BWG" %}selected{% endif %}>
                        BAWAG
                    </option>
                    <option value="BAWAG_PSK" {% if dynvalue.fcpo_so_bankgrouptype_eps == "BAWAG_PSK" %}selected{% endif %}>
                        PSK Bank
                    </option>
                    <option value="BAWAG_ESY" {% if dynvalue.fcpo_so_bankgrouptype_eps == "BAWAG_ESY" %}selected{% endif %}>
                        easybank
                    </option>
                    <option value="BAWAG_SPD" {% if dynvalue.fcpo_so_bankgrouptype_eps == "BAWAG_SPD" %}selected{% endif %}>
                        Sparda Bank
                    </option>
                    <option value="SPARDAT_EBS" {% if dynvalue.fcpo_so_bankgrouptype_eps == "SPARDAT_EBS" %}selected{% endif %}>
                        Erste Bank
                    </option>
                    <option value="SPARDAT_BBL" {% if dynvalue.fcpo_so_bankgrouptype_eps == "SPARDAT_BBL" %}selected{% endif %}>
                        Bank Burgenland
                    </option>
                    <option value="RAC_RAC" {% if dynvalue.fcpo_so_bankgrouptype_eps == "RAC_RAC" %}selected{% endif %}>
                        Raiffeisen
                    </option>
                    <option value="HRAC_OOS" {% if dynvalue.fcpo_so_bankgrouptype_eps == "HRAC_OOS" %}selected{% endif %}>
                        Hypo Ober&ouml;sterreich
                    </option>
                    <option value="HRAC_SLB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "HRAC_SLB" %}selected{% endif %}>
                        Hypo Salzburg
                    </option>
                    <option value="HRAC_STM" {% if dynvalue.fcpo_so_bankgrouptype_eps == "HRAC_STM" %}selected{% endif %}>
                        Hypo Steiermark
                    </option>
                    <option value="EPS_SCHEL" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_SCHEL" %}selected{% endif %}>
                        Bankhaus Schelhammer & Schattera AG
                    </option>
                    <option value="EPS_OBAG" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_OBAG" %}selected{% endif %}>
                        Oberbank AG
                    </option>
                    <option value="EPS_SCHOELLER" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_SCHOELLER" %}selected{% endif %}>
                        Schoellerbank AG
                    </option>
                    <option value="EPS_VRBB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_VRBB" %}selected{% endif %}>
                        VR-Bank Braunau
                    </option>
                    <option value="EPS_AAB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_AAB" %}selected{% endif %}>
                        Austrian Anadi Bank AG
                    </option>
                    <option value="EPS_BKS" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_BKS" %}selected{% endif %}>
                        BKS Bank AG
                    </option>
                    <option value="EPS_BKB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_BKB" %}selected{% endif %}>
                        Brüll Kallmus Bank AG
                    </option>
                    <option value="EPS_VLB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_VLB" %}selected{% endif %}>
                        BTV VIER LÄNDER BANK
                    </option>
                    <option value="EPS_CBGG" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_CBGG" %}selected{% endif %}>
                        Capital Bank Grawe Gruppe AG
                    </option>
                    <option value="EPS_DB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_DB" %}selected{% endif %}>
                        Dolomitenbank
                    </option>
                    <option value="EPS_NOEGB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_NOEGB" %}selected{% endif %}>
                        HYPO NOE Gruppe Bank AG
                    </option>
                    <option value="EPS_NOELB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_NOELB" %}selected{% endif %}>
                        HYPO NOE Landesbank AG
                    </option>
                    <option value="EPS_HBL" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_HBL" %}selected{% endif %}>
                        HYPO-BANK BURGENLAND Aktiengesellschaft
                    </option>
                    <option value="EPS_MFB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_MFB" %}selected{% endif %}>
                        Marchfelder Bank
                    </option>
                    <option value="EPS_SPDBW" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_SPDBW" %}selected{% endif %}>
                        Sparda Bank Wien
                    </option>
                    <option value="EPS_SPDBA" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_SPDBA" %}selected{% endif %}>
                        SPARDA-BANK AUSTRIA
                    </option>
                    <option value="EPS_VKB" {% if dynvalue.fcpo_so_bankgrouptype_eps == "EPS_VKB" %}selected{% endif %}>
                        Volkskreditbank AG
                    </option>
                </select>

                <label>{{ translate({ ident: "FCPO_BANKGROUPTYPE" }) }}</label>
            </div>

            <div class="clearfix"></div>

            {% block checkout_payment_longdesc %}
                {% if paymentmethod.oxpayments__oxlongdesc.value|striptags|trim %}
                    <div class="alert alert-info desc">
                        {{ paymentmethod.oxpayments__oxlongdesc.value }}
                    </div>
                {% endif %}
            {% endblock %}

        </div>
    </div>
    {% if paymentmethod.getPrice() %}
        <div class="payment-option-price">
            {% set oPaymentPrice = paymentmethod.getPrice() %}
            {% if oViewConf.isFunctionalityEnabled('blShowVATForPayCharge') %}
                {{ format_price(oPaymentPrice.getNettoPrice(), { currency: currency }) }}
                {% if oPaymentPrice.getVatValue() > 0 %}
                    {{ translate({ ident: "PLUS_VAT" }) }} {{ format_price(oPaymentPrice.getVatValue(), { currency: currency }) }}
                {% endif %}
            {% else %}
                {{ format_price(oPaymentPrice.getBruttoPrice(), { currency: currency }) }}
            {% endif %}
        </div>
    {% endif %}
</div>
