<div id="orderAddress">
    <form action="{{ oViewConf.getSslSelfLink()|raw }}" method="post">
        {{ oViewConf.getHiddenSid()|raw }}
        <input type="hidden" name="cl" value="{{ oView.fcpoGetEditAddressTargetController() }}">
        <input type="hidden" name="fnc" value="{{ oView.fcpoGetEditAddressTargetAction() }}">
        <h4 class="card-header card-title card-header-edit d-flex justify-content-between align-items-center">
            {{ translate({ ident: "BILLING_ADDRESS" }) }}
            <button type="submit" class="btn"
                    title="{{ translate({ ident: "EDIT" }) }}">
                <svg aria-hidden="true">
                    <use xlink:href="#pencil"></use>
                </svg>
            </button>
        </h4>
        <div class="card-body">
            {% include "@fcpayone/frontend/" ~ oViewConf.getActiveTheme() ~ "/fcpo_nosalutation_address.html.twig" %}
        </div>
    </form>
    <form action="{{ oViewConf.getSslSelfLink()|raw }}" method="post">
        {{ oViewConf.getHiddenSid()|raw }}
        <input type="hidden" name="cl" value="{{ oView.fcpoGetEditAddressTargetController() }}">
        <input type="hidden" name="fnc" value="{{ oView.fcpoGetEditAddressTargetAction() }}">
        <h4 class="card-header card-title card-header-edit d-flex justify-content-between align-items-center">
            {{ translate({ ident: "SHIPPING_ADDRESS" }) }}
            <button type="submit" class="btn"
                    title="{{ translate({ ident: "EDIT" }) }}">
                <svg aria-hidden="true">
                    <use xlink:href="#pencil"></use>
                </svg>
            </button>
        </h4>
        <div class="card-body">
            {% set oDelAdress = oView.getDelAddress() %}
            {% if oDelAdress %}
                {% include "@fcpayone/frontend/" ~ oViewConf.getActiveTheme() ~ "/fcpo_nosalutation_address.html.twig" with {delivadr: oDelAdress} %}
            {% else %}
                {% include "@fcpayone/frontend/" ~ oViewConf.getActiveTheme() ~ "/fcpo_nosalutation_address.html.twig" %}
            {% endif %}
        </div>
    </form>
</div>
