<div class="payment-option">
    {% set dynvalue = oView.getDynValue() %}
    <div class="payment-option-form">
        <input class="form-check-input" id="payment_{{ sPaymentID }}" type="radio" name="paymentid"
               value="{{ sPaymentID }}"{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} checked{% endif %}>
        <label
                for="payment_{{ sPaymentID }}">{{ translate({ ident: paymentmethod.oxpayments__oxdesc.value }) }}</label>

        <div class="payment-option-info{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %} activePayment{% endif %}">
            <input type="hidden" name="fcpo_mode_{{ sPaymentID }}" value="{{ paymentmethod.fcpoGetOperationMode() }}">
            <input type="hidden" name="dynvalue[fcpopl_secinstallment_account_holder]" value="{{ oView.fcpoGetAccountHolder() }}"/>

            {% set installmentOptions = oView.fcpoGetBNPLInstallment() %}
            {% if installmentOptions.status != 'OK' or installmentOptions.plans|length < 1 %}
                <script type="text/javascript">
                    // Disabled until Fix from Oxid to locate the submit button
                    /*document.addEventListener("DOMContentLoaded", function (event) {
                        var aPaymentSelectionButtons = document.getElementsByName("paymentid");
                        aPaymentSelectionButtons.forEach(function (oElem) {
                            oElem.addEventListener('click', function (event) {
                                var oPaymentConfirmButton = document.getElementById("paymentNextStepBottom");
                                oPaymentConfirmButton.disabled = (event.target.value === 'fcpopl_secinstallment');
                            });
                        });
                    });*/
                </script>
                <div class="form-floating mb-3">
                    <div class="help-block">
                        <ul role="alert" class="list-unstyled text-danger">
                            <li>{{ translate({ ident: "FCPO_BNPL_SECINSTALLMENT_UNAVAILABLE" }) }}</li>
                        </ul>
                    </div>
                </div>
            {% else %}
                {% if oView.fcpoBNPLShowBirthdate() %}
                    <div class="mb-3">
                        <label>{{ translate({ ident: "FCPO_SECINVOICE_BIRTHDATE" }) }}:</label>
                        <div style="display: flex">
                            <select style="width: 30%" name="dynvalue[fcpopl_secinstallment_birthdate_day]">
                                {% for sDay in oView.fcpoGetDayRange() %}
                                    <option value="{{ sDay }}" {% if sDay == oView.fcpoGetBirthdayField('day') %}selected{% endif %}>
                                        {{ sDay }}
                                    </option>
                                {% endfor %}
                            </select>
                            &nbsp;
                            <select style="width: 30%" name="dynvalue[fcpopl_secinstallment_birthdate_month]">
                                {% for sMonth in oView.fcpoGetMonthRange() %}
                                    <option value="{{ sMonth }}" {% if sMonth == oView.fcpoGetBirthdayField('month') %}selected{% endif %}>
                                        {{ sMonth }}
                                    </option>
                                {% endfor %}
                            </select>
                            &nbsp;
                            <select style="width: 30%" name="dynvalue[fcpopl_secinstallment_birthdate_year]">
                                {% for sYear in oView.fcpoGetYearRange() %}
                                    <option value="{{ sYear }}" {% if sYear == oView.fcpoGetBirthdayField('year') %}selected{% endif %}>
                                        {{ sYear }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                {% endif %}

                {% if oView.fcpoBNPLShowFon(sPaymentID) %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" size="20" maxlength="64" name="dynvalue[fcpopl_secinstallment_fon]"
                               placeholder="{{ translate({ ident: "FCPO_BNPL_FON" }) }}"
                               autocomplete="off" value="{{ oView.fcpoGetUserValue('oxfon') }}"
                               required>
                        <label>{{ translate({ ident: "FCPO_BNPL_FON" }) }}</label>
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    <input type="text" class="form-control js-oxValidate js-oxValidate_notEmpty" size="20" maxlength="64" name="dynvalue[fcpopl_secinstallment_iban]"
                           placeholder="{{ translate({ ident: "FCPO_BANK_IBAN" }) }}"
                           autocomplete="off" value="{{ dynvalue.fcpopl_secinstallment_iban }}"
                           onkeyup="fcHandleDebitInputs('{{ oView.fcpoGetBICMandatory() }}]');return false;"
                           required>
                    <div id="fcpopl_secinstallment_iban_invalid" class="fcpo_check_error">
                    <span class="help-block">
                        <ul role="alert" class="list-unstyled text-danger">
                            <li>{{ translate({ ident: "FCPO_IBAN_INVALID" }) }}</li>
                        </ul>
                    </span>
                    </div>
                    <label>{{ translate({ ident: "FCPO_BANK_IBAN" }) }}</label>
                </div>

                {% include "@fcpayone/frontend/fcpo_payment_bnpl_snippet.html.twig" %}

                {% block checkout_payment_longdesc %}
                    {% if paymentmethod.oxpayments__oxlongdesc.value|striptags|trim %}
                        <div class="alert alert-info desc">
                            {{ paymentmethod.oxpayments__oxlongdesc.value }}
                        </div>
                    {% endif %}
                {% endblock %}

                <div class="form-floating mb-3">
                    <div></div>
                    {% for index, plan in installmentOptions.plans %}
                        <div>
                            <input id="bnplPlan_{{ index }}" type="radio" name="dynvalue[fcpopl_secinstallment_plan]"
                                   value="{{ plan.installmentOptionId }}" onclick="fcpoSelectBNPLInstallmentPlan({{ index }})"/>
                            <a href="#" onclick="fcpoSelectBNPLInstallmentPlan({{ index }})">
                                {{ plan.monthlyAmountValue }} {{ plan.monthlyAmountCurrency }}
                                {{ translate({ ident: 'FCPO_PAYOLUTION_INSTALLMENT_PER_MONTH' }) }} - {{ plan.numberOfPayments }}
                                {{ translate({ ident: 'FCPO_PAYOLUTION_INSTALLMENT_RATES' }) }}
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-floating mb-3">
                    {% for index, plan in installmentOptions.plans %}
                        <div id="bnpl_installment_overview_{{ index }}" class="bnpl_installment_overview" style="display: none">
                            <strong>{{ translate({ ident: 'FCPO_BNPL_SECINSTALLMENT_OVW_TITLE' }) }}</strong>
                            <br/>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-8">{{ translate({ ident: 'FCPO_BNPL_SECINSTALLMENT_OVW_NBRATES' }) }}:</div>
                                    <div class="col-lg-4 fcpopl-secinstallment-table-value">{{ plan.numberOfPayments }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-8">{{ translate({ ident: 'FCPO_BNPL_SECINSTALLMENT_OVW_TOTALFINANCING' }) }}:
                                    </div>
                                    <div class="col-lg-4 fcpopl-secinstallment-table-value">{{ installmentOptions.amountValue }}
                                        {{ installmentOptions.amountCurrency }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-8">{{ translate({ ident: 'FCPO_BNPL_SECINSTALLMENT_OVW_TOTALAMOUNT' }) }}:
                                    </div>
                                    <div class="col-lg-4 fcpopl-secinstallment-table-value">{{ plan.totalAmountValue }}
                                        {{ plan.totalAmountCurrency }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-8">{{ translate({ ident: 'FCPO_BNPL_SECINSTALLMENT_OVW_INTEREST' }) }}:</div>
                                    <div class="col-lg-4 fcpopl-secinstallment-table-value">{{ plan.nominalInterestRate }}%</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-8">{{ translate({ ident: "FCPO_BNPL_SECINSTALLMENT_OVW_EFFECTIVEINTEREST" }) }}:
                                    </div>
                                    <div class="col-lg-4 fcpopl-secinstallment-table-value">{{ plan.effectiveInterestRate }}%
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-8">{{ translate({ ident: 'FCPO_BNPL_SECINSTALLMENT_OVW_MONTHLYRATE' }) }}:
                                    </div>
                                    <div class="col-lg-4 fcpopl-secinstallment-table-value">{{ plan.monthlyAmountValue }}
                                        {{ plan.monthlyAmountCurrency }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <br/>
                                        <a target="_blank"
                                           href="{{ plan.linkCreditInformationHref }}">{{ translate({ ident: "FCPO_BNPL_SECINSTALLMENT_OVW_DL_CREDINFO" }) }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="form-floating mb-3">
                    <div class="help-block">
                        <ul role="alert" class="list-unstyled text-danger">
                            <li>{{ translate({ ident: "FCPO_BNPL_TNC_DATAPROTECTION_NOTICE" }) }}</li>
                        </ul>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    {% if paymentmethod.getPrice() %}
        <div class="payment-option-price">
            {% set oPaymentPrice = paymentmethod.getPrice() %}
            {% if oViewConf.isFunctionalityEnabled('blShowVATForPayCharge') %}
                {{ format_price(oPaymentPrice.getNettoPrice(), { currency: currency }) }}
                {% if oPaymentPrice.getVatValue() > 0 %}
                    {{ translate({ ident: "PLUS_VAT" }) }} {{ format_price(oPaymentPrice.getVatValue(), { currency: currency }) }}
                {% endif %}
            {% else %}
                {{ format_price(oPaymentPrice.getBruttoPrice(), { currency: currency }) }}
            {% endif %}
        </div>
    {% endif %}
</div>
