{{ style({ include: oViewConf.getModuleUrl("fcpayone", "css/fcPoAmazon.css") }) }}

{% if sAmazonButtonId %}
    {% set iAmzButtonIncluded = iAmzButtonIncluded+1 %}
    {% elseif not iAmzButtonIncluded %}
    {% set iAmzButtonIncluded = "0" %}
    {% else %}
    {% set iAmzButtonIncluded = iAmzButtonIncluded+1 %}
    {% endif %}

{% if not sAmazonButtonId %}
    {% set sAmazonButtonId = 'LoginWithAmazon' %}
    {% endif %}

{{ oViewConf.fcpoSetCurrentAmazonButtonId(sAmazonButtonId) }}

<div id="{{ sAmazonButtonId }}{{ iAmzButtonIncluded }}" class="{{ sAmazonButtonClass }}"></div>
<script>
    // initialize client
    if (typeof window.onAmazonLoginReady !== 'function') {
        window.onAmazonLoginReady = function () {
            amazon.Login.setClientId('{{ oViewConf.fcpoGetAmazonPayClientId() }}');
            {% if not oViewConf.fcpoAmazonLoginSessionActive() %}
            amazon.Login.logout();
            {% endif %}
        };
    }

    // initialize button array
    if (typeof window.onAmazonPaymentsReadyArray == 'undefined') {
        window.onAmazonPaymentsReadyArray = [];
    }

    // iterate through filled array with buttons
    if (typeof window.onAmazonPaymentsReady !== 'function') {
        window.onAmazonPaymentsReady = function () {
            window.onAmazonPaymentsReadyArray.forEach(function (callback) {
                callback();
            });
        };
    }

    // fill array with amazon pay button
    window.onAmazonPaymentsReadyArray.push(function () {
        var authRequest, loginOptions;
        OffAmazonPayments.Button('{{ sAmazonButtonId }}{{ iAmzButtonIncluded }}', '{{ oViewConf.fcpoGetAmazonPaySellerId() }}', {
            type: '{{ oViewConf.fcpoGetAmazonPayButtonType() }}',
            color: '{{ oViewConf.fcpoGetAmazonPayButtonColor() }}',
            language: 'none',
            size: 'medium',
            authorization: function () {
                loginOptions = {
                    scope: 'payments:billing_address payments:shipping_address payments:widget profile',
                    popup: {{ oViewConf.fcpoGetAmzPopup() }}
                };
                authRequest = amazon.Login.authorize(loginOptions, '{{ oViewConf.fcpoGetAmazonRedirectUrl() }}');
            }
        });
    });

</script>
{% if oViewConf.fcpoGetAllowIncludeAmazonWidgetUrl() %}
    <script async="async" src='{{ oViewConf.fcpoGetAmazonWidgetsUrl() }}'></script>
    {% endif %}
