<div class="checkoutCollumns clear">
    <div class="lineBox clear">
        <h3 class="blockHead">
            {{ translate({ ident: "FCPO_AMAZON_PROBLEM" }) }}
        </h3>
        <ul>
            <div>
                {{ translate({ ident: "FCPO_AMAZON_NO_SHIPPING_TO_COUNTRY" }) }}
            </div>
        </ul>
        <ul>
            <hr>
            <a href="index.php?cl=basket&fcpoamzaction=logoff">{{ translate({ ident: "FCPO_AMAZON_LOGOFF" }) }}</a>
        </ul>
    </div>
</div>

<div class="lineBox clear">
    <a href="{{ seo_url({ ident: oViewConf.getOrderLink() }) }}" class="prevStep submitButton largeButton"
       id="paymentBackStepBottom">{{ translate({ ident: "PREVIOUS_STEP" }) }}</a>
</div>
