<dl>
    <dt>
        <input id="payment_{{ sPaymentID }}" type="radio" name="paymentid" value="{{ sPaymentID }}"
               {% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}checked{% endif %}>
        <label for="payment_{{ sPaymentID }}"><b>{{ paymentmethod.oxpayments__oxdesc.value }} {{ oView.fcpoGetFormattedPaymentCosts(paymentmethod) }}</b></label>
    </dt>
    <dd class="{% if oView.getCheckedPaymentId() == paymentmethod.oxpayments__oxid.value %}activePayment{% endif %}">

        <div class="form-group" id="fcpo_ou_idl">
            <label class="req control-label col-lg-3">{{ translate({ ident: "FCPO_BANKGROUPTYPE" }) }}:</label>
            <div class="col-lg-9">
                <select name="dynvalue[fcpo_so_bankgrouptype_idl]" class="form-control selectpicker">
                    <option value="ABN_AMRO_BANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "ABN_AMRO_BANK" %}selected{% endif %}>ABN Amro
                    </option>
                    <option value="BUNQ_BANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "BUNQ_BANK" %}selected{% endif %}>Bunq
                    </option>
                    <option value="ING_BANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "ING_BANK" %}selected{% endif %}>ING Bank
                    </option>
                    <option value="RABOBANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "RABOBANK" %}selected{% endif %}>Rabobank
                    </option>
                    <option value="SNS_BANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "SNS_BANK" %}selected{% endif %}>SNS Bank
                    </option>
                    <option value="ASN_BANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "ASN_BANK" %}selected{% endif %}>ASN Bank
                    </option>
                    <option value="SNS_REGIO_BANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "SNS_REGIO_BANK" %}selected{% endif %}>Regio
                        Bank
                    </option>
                    <option value="TRIODOS_BANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "TRIODOS_BANK" %}selected{% endif %}>Triodos
                        Bank
                    </option>
                    <option value="KNAB_BANK"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "KNAB_BANK" %}selected{% endif %}>Knab
                    </option>
                    <option value="VAN_LANSCHOT_BANKIERS"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "VAN_LANSCHOT_BANKIERS" %}selected{% endif %}>
                        van Lanschot
                    </option>
                    <option value="MONEYOU" {% if dynvalue.fcpo_so_bankgrouptype_idl == "MONEYOU" %}selected{% endif %}>
                        Moneyou
                    </option>
                    <option value="HANDELSBANKEN"
                            {% if dynvalue.fcpo_so_bankgrouptype_idl == "HANDELSBANKEN" %}selected{% endif %}>
                        Handelsbanken
                    </option>
                </select>
            </div>
        </div>
        {% block checkout_payment_longdesc %}
            {% if paymentmethod.oxpayments__oxlongdesc.value|trim %}
                <div class="desc">
                    {{ paymentmethod.oxpayments__oxlongdesc.getRawValue() }}
                </div>
            {% endif %}
        {% endblock %}
    </dd>
</dl>
