<div id="orderAddress">
    <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
        <div class="hidden">
            {{ oViewConf.getHiddenSid()|raw }}
            <input type="hidden" name="cl" value="{{ oView.fcpoGetEditAddressTargetController() }}">
            <input type="hidden" name="fnc" value="{{ oView.fcpoGetEditAddressTargetAction() }}">
        </div>
        <h3 class="section">
            <strong>{{ translate({ ident: "BILLING_ADDRESS" }) }}</strong>
            <button type="submit" class="submitButton largeButton">
                {{ translate({ ident: "EDIT" }) }}
            </button>
        </h3>
        {% include "@fcpayone/frontend/" ~ oViewConf.getActiveTheme() ~ "/fcpo_nosalutation_address.html.twig" %}
    </form>

    <form action="{{ oViewConf.getSslSelfLink() }}" method="post">
        <div class="hidden">
            {{ oViewConf.getHiddenSid()|raw }}
            <input type="hidden" name="cl" value="{{ oView.fcpoGetEditAddressTargetController() }}">
            <input type="hidden" name="fnc" value="{{ oView.fcpoGetEditAddressTargetAction() }}">
        </div>
        <h3 class="section">
            <strong>{{ translate({ ident: "SHIPPING_ADDRESS" }) }}</strong>
            <button type="submit" class="submitButton largeButton">
                {{ translate({ ident: "EDIT" }) }}
            </button>
        </h3>
        {% set oDelAddress = oView.getDelAddress() %}
        {% include "@fcpayone/frontend/" ~ oViewConf.getActiveTheme() ~ "/fcpo_nosalutation_address.html.twig" with {delivadr: oDelAddress} %}
    </form>

    {% if oView.getOrderRemark() %}
    <div class="orderRemarks">
        <h3 class="section">
            <strong>{{ translate({ ident: "WHAT_I_WANTED_TO_SAY" }) }}</strong>
        </h3>
        {{ oView.getOrderRemark()|nl2br }}
    </div>
    {% endif %}
</div>
