{% extends 'payment_main.html.twig' %}

{% block admin_payment_main_form %}
    <!-- FCPAYONE BEGIN -->
    {% if edit.oxpayments__fcpoispayone.value == 1 %}
        <tr>
            <td class="edittext" colspan="2">
                <img src="{{ oViewConf.getModuleUrl("fcpayone", "admin/img/logo_payone_new.gif") }}" alt="PAYONE"><br><br>
                {{ translate({ ident: "FC_IS_PAYONE" }) }}
                {% if edit.oxpayments__oxid.value == 'fcpobarzahlen' %}
                    <input type="hidden" name="editval[oxpayments__fcpoauthmode]" value="preauthorization">
                {% endif %}
            </td>
        </tr>
        <tr>
            {% if edit.fcpoAuthorizeAllowed() %}
                <td class="edittext" width="70">
                    {{ translate({ ident: "FCPO_AUTHORIZATION_METHOD" }) }}
                </td>
                <td class="edittext">
                    <input type="radio" name="editval[oxpayments__fcpoauthmode]" value="preauthorization"
                           {% if edit.oxpayments__fcpoauthmode.value == 'preauthorization' %}checked{% endif %}>
                    {{ translate({ ident: "FCPO_PREAUTHORIZATION" }) }} {% include "inputhelp.html.twig" with {'sHelpId': help_id("FCPO_PREAUTHORIZATION_HELP"), 'sHelpText': help_text("FCPO_PREAUTHORIZATION_HELP")} %}
                    <br>
                    <input type="radio" name="editval[oxpayments__fcpoauthmode]" value="authorization"
                           {% if edit.oxpayments__fcpoauthmode.value == 'authorization' %}checked{% endif %}>
                    {{ translate({ ident: "FCPO_AUTHORIZATION" }) }} {% include "inputhelp.html.twig" with {'sHelpId': help_id("FCPO_AUTHORIZATION_HELP"), 'sHelpText': help_text("FCPO_AUTHORIZATION_HELP")} %}
                </td>
            {% endif %}
        </tr>
        <tr>
            <td class="edittext" width="70">
                {{ translate({ ident: "FCPO_OPERATION_MODE" }) }}
            </td>
            <td class="edittext">
                {% if edit.getId() == 'fcpocreditcard' %}
                    {{ translate({ ident: "FCPO_INFOTEXT_SET_OPERATIONMODE" }) }}
                {% else %}
                    <table>
                        <tr>
                            <td>
                                <input type="radio" name="editval[oxpayments__fcpolivemode]" value="1"
                                       {% if edit.oxpayments__fcpolivemode.value == '1' %}checked{% endif %}>
                                <strong>{{ translate({ ident: "FCPO_LIVE_MODE" }) }}</strong><br>
                                <input type="radio" name="editval[oxpayments__fcpolivemode]" value="0"
                                       {% if edit.oxpayments__fcpolivemode.value == '0' %}checked{% endif %}>
                                {{ translate({ ident: "FCPO_TEST_MODE" }) }}<br>
                            </td>
                            <td>
                                {% include "inputhelp.html.twig" with {'sHelpId': help_id("FCPO_HELP_OPERATIONMODE"), 'sHelpText': help_text("FCPO_HELP_OPERATIONMODE")} %}
                            </td>
                        </tr>
                    </table>
                {% endif %}
            </td>
        </tr>
        {% if edit.getId() == 'fcpo_sofort' %}
            {% set confbools = oView.fcpoGetConfBools() %}
            <tr>
                <td class="edittext" width="70">
                    {{ translate({ ident: "FCPO_SHOW_IBAN_FIELDS" }) }}
                </td>
                <td>
                    <input type=hidden name="confbools[blFCPOSofoShowIban]" value="0">
                    <input type="checkbox" name="confbools[blFCPOSofoShowIban]" value="1"
                           {% if (confbools.blFCPOSofoShowIban) %}checked{% endif %}>
                </td>
            </tr>
        {% endif %}
        {% if edit.getId() == 'fcpo_trustly' %}
            {% set confbools = oView.fcpoGetConfBools() %}
            <tr>
                <td class="edittext" width="70">
                    {{ translate({ ident: "FCPO_SHOW_IBAN_FIELDS" }) }}
                </td>
                <td>
                    <input type=hidden name="confbools[blFCPOTrustlyShowIban]" value="0">
                    <input type="checkbox" name="confbools[blFCPOTrustlyShowIban]" value="1"
                           {% if (confbools.blFCPOTrustlyShowIban) %}checked{% endif %}>
                </td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td colspan="2">
                <input type="hidden" name="editval[oxpayments__fcpoauthmode]" value="">
            </td>
        </tr>
    {% endif %}
    {{ parent() }}
{% endblock %}
