{% include "headitem.html.twig" with {title: "fcpo_admin_config_status_mapping"|translate} %}

<form autocomplete="off" method="post" action="{{  shop.selflink  }}">
    {{  oViewConf.getHiddenSid()|raw  }}
    <input type="hidden" name="cl" value="FcPayOneStatusMapping"/>
    <input type="hidden" name="fnc" value="save"/>

    <h2>{{ translate({ ident: "fcpo_admin_config_status_mapping" }) }}</h2>

    {% set oMappings = oView.getMappings() %}
    {% if oMappings|length > 0 %}
<br>
    <table>
        <tr>
            <th style="text-align: left;">{{ translate({ ident: "fcpo_admin_config_paymenttype" }) }}</th>
            <th style="text-align: left;">{{ translate({ ident: "fcpo_admin_config_status_payone" }) }}</th>
            <th style="text-align: left;">{{ translate({ ident: "fcpo_admin_config_status_shop" }) }}</th>
            <th></th>
        </tr>
        {% for oMapping in oMappings %}
        <tr>
            <td>
                <select name="editval[{{ oMapping.sOxid }}][sPaymentType]" style="width:200px;">
                    {% if oMapping.sOxid == 'new' %}
                    <option value="">---</option>
                    {% endif %}
                    {% for oPayment in oView.getPaymentTypeList() %}
                    <option value="{{ oPayment.sId }}" {% if oMapping.sPaymentType == oPayment.sId %}selected{% endif %}>
                        {{ oPayment.sTitle }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="editval[{{ oMapping.sOxid }}][sPayoneStatus]" style="width:325px;">
                    {% if oMapping.sOxid == 'new' %}
                    <option value="">---</option>
                    {% endif %}
                    {% for oStatus in oView.getPayoneStatusList() %}
                    <option value="{{ oStatus.sId }}" {% if oMapping.sPayoneStatusId == oStatus.sId %}selected{% endif %}>
                        {{ oStatus.sTitle }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="editval[{{ oMapping.sOxid }}][sShopStatus]" style="width:180px;">
                    {% if oMapping.sOxid == 'new' %}
                    <option value="">---</option>
                    {% endif %}
                    {% for sStatusId, sColor in oView.getShopStatusList() %}
                    <option value="{{ sStatusId }}" {% if oMapping.sShopStatusId == sStatusId %}selected{% endif %}>{{ translate({ ident: sStatusId, noerror: true }) }}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input value="X {{ translate({ ident: "fcpo_admin_config_delete" }) }}" name="editval[{{oMapping.sOxid}}][delete]" onclick="if(!confirm('{{ translate({ ident: "fcpo_admin_config_delete_confirm" }) }}')) {return false;}" type="submit">
            </td>
        </tr>
        {% endfor %}
    </table>
<br>
<input type="submit" name="save" value="{{ translate({ ident: "GENERAL_SAVE" }) }}" />
    {% endif %}
    <input type="submit" name="add" value="{{ translate({ ident: "fcpo_admin_config_add" }) }}" />
</form>

{% include "bottomnaviitem.html.twig" %}
{% include "bottomitem.html.twig" %}
