{% extends 'page/checkout/thankyou.html.twig' %}

{% block checkout_thankyou_proceed %}
    {% if oView.fcpoGetBarzahlenHtml() %}
        {{ oView.fcpoGetBarzahlenHtml() }}
    {% else %}
        {{ parent() }}
        {% if oView.fcpoIsAppointedError() %}
            <br><br>
            {{ translate({ ident: "FCPO_THANKYOU_APPOINTED_ERROR" }) }}
        {% endif %}
        {% set sMandatePdfUrl = oView.fcpoGetMandatePdfUrl() %}
        {% if sMandatePdfUrl %}
            <br><br>
            <a href="{{ sMandatePdfUrl }}" class="link"
               target="_blank">{{ translate({ ident: "FCPO_THANKYOU_PDF_LINK" }) }}</a>
        {% endif %}
        {% if oView.fcpoIsAmazonOrder() %}
            <script async="async" src='{{ oViewConf.fcpoGetAmazonWidgetsUrl() }}'></script>
            <script>
                window.onAmazonLoginReady = function () {
                    amazon.Login.logout();
                };
            </script>
            {% if oViewConf.fcpoIsAmazonAsyncMode() %}
                <br><br>
                <div>
                    {{ translate({ ident: "FCPO_AMAZON_THANKYOU_MESSAGE" }) }}
                </div>
            {% endif %}
        {% endif %}
        {% if oView.fcpoShowClearingData() %}
            <h3>
                {{ translate({ ident: "FCPO_EMAIL_BANK_DETAILS" }) }}
            </h3>
            <div>
                {{ translate({ ident: "FCPO_BANKACCOUNTHOLDER" }) }} {{ order.getFcpoBankaccountholder() }}<br>
                {{ translate({ ident: "FCPO_EMAIL_BANK" }) }} {{ order.getFcpoBankname() }}<br>
                {{ translate({ ident: "FCPO_EMAIL_ROUTINGNUMBER" }) }} {{ order.getFcpoBankcode() }}<br>
                {{ translate({ ident: "FCPO_EMAIL_ACCOUNTNUMBER" }) }} {{ order.getFcpoBanknumber() }}<br>
                {{ translate({ ident: "FCPO_EMAIL_BIC" }) }} {{ order.getFcpoBiccode() }}<br>
                {{ translate({ ident: "FCPO_EMAIL_IBAN" }) }} {{ order.getFcpoIbannumber() }} <br>
                {{ translate({ ident: "FCPO_EMAIL_USAGE" }) }}: {{ order.oxorder__fcpotxid.value }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
